<footer id="footer">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="Copyright">
        © Copyright <strong>Akeshya</strong>. All Rights Reserved
      </div>
      <div>
        <ul class="d-flex list-unstyled">
          <li class="px-3">
            <a href="./Terms and conditions.pdf">Terms and conditions</a>
          </li>
          <li class="px-3"><a href="./Refund policy.pdf">Refund policy</a></li>
          <li class="px-3">
            <a href="./Privacy policy.pdf">Privacy policy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
  #footer {
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
  }

  #footer .credits {
    font-size: 13px;
    padding-top: 5px;
    color: #222222;
  }

  #footer .footer-links a {
    color: #222222;
    padding-left: 15px;
  }

  #footer .footer-links a:first-child {
    padding-left: 0;
  }

  #footer .footer-links a:hover {
    color: #14279b;
  }
</style>
