<section id="more-services" class="more-services">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Our Process</h2>
      <p>
        Over the years we’ve evolved a tested method for attaining achievement
        for each one of our clients.
      </p>
    </div>

    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch">
        <div
          class="card"
          style='background-image: url("assets/img/more-services-1.jpg");'
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="card-body">
            <h5 class="card-title"><a href="">1. Planning</a></h5>
            <p class="card-text">
              We help you turn all of your ideas into a digital product that
              meets all of your requirements. We begin each project by
              determining its scope and needs. This is done by collaborating
              closely with you to ensure that we're all on the same page.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div
          class="card"
          style='background-image: url("assets/img/more-services-2.jpg");'
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="card-body">
            <h5 class="card-title"><a href="">2. Design</a></h5>
            <p class="card-text">
              We build our websites carefully through a series of workshops,
              wire-framing, and user experience (UX) sessions, resulting in a
              site that reinforces trust, conveys important brand messaging, and
              provides a return on innovation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div
          class="card"
          style='background-image: url("assets/img/more-services-3.jpg");'
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="card-body">
            <h5 class="card-title"><a href="">3. Development</a></h5>
            <p class="card-text">
              We provide extensive front-end and back-end development that
              allows your idea to stand alone. Our in-house developers work
              side-by-side with the artistic team to seek out natural
              breakpoints inside the content and order practicality based on
              acknowledged statistics.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div
          class="card"
          style='background-image: url("assets/img/more-services-4.jpg");'
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="card-body">
            <h5 class="card-title"><a href=""></a>4. Marketing</h5>
            <p class="card-text">
              We come up with ideas and campaigns to help your business prosper
              online. Our campaigns and virtual approach have a verified tune
              report of accomplishing brilliant results, gathering new leads and
              site visitors in your website and assist them convert.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .more-services {
    padding-top: 20px;
  }

  .more-services .card {
    border: 0;
    padding: 160px 20px 20px 20px;
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .more-services .card-body {
    z-index: 10;
    background: #f6f6f6;
    padding: 15px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    transition: ease-in-out 0.4s;
    border-radius: 5px;
  }

  .more-services .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }

  .more-services .card-title a {
    color: #222222;
  }

  .more-services .card-text {
    color: #5e5e5e;
  }

  .more-services .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.4s;
  }

  .more-services .read-more a:hover {
    text-decoration: underline;
  }

  .more-services .card:hover .card-body {
    background: #14279b;
  }

  .more-services .card:hover .read-more a,
  .more-services .card:hover .card-title,
  .more-services .card:hover .card-title a,
  .more-services .card:hover .card-text {
    color: #fff;
  }
</style>
